{% extends 'base.html' %}	

{% block content %}

		<!-- Banner -->
		<div id = 'home-main'>
			<div id = 'main-overlay'>
				<div class = 'inner' >
					<section id="banner">
						<div class="content">
							<h1>Are your representatives supporting your labor rights?</h1>
							<p>Find our how your legislators have voted on key labor issues.</p>

							{%if error%}<p id = 'searcherror'>The address was either not valid or not in texas. Please try entering another address. </p>{% endif %}

			

								<form method="post" action= 'legislatorhandle'>
									{% csrf_token %}
								<div class="row uniform">
									<div class="8u 12u$(xsmall)">
										<input type="text" name="address" id="address" class = "shadow" value="" placeholder="Address" />
									</div>
									<div class="4u$ 12u$(xsmall)">
										<input type="text" name="zipcode" id="zipcode" value="" class = "shadow" placeholder="ZipCode" />
									</div>
								</div>
								<div class="row uniform">
									<div class="6u 12u$(xsmall)">
										<input type="text" name="email" id="email" value="" class = "shadow" placeholder="Email" />
									</div>
									<div class="6u$ 12u$(xsmall)">
										<input type="text" name="cellphone" id="cellphone" value="" class = "shadow" placeholder="Cell Phone" />
									</div>
									<div class="12u$">
									<ul class="actions">
										<li><input type="submit" value="Find your Legislator" /></li>
									</ul>
								</div>
								</div>
							</form>


					</div>
				</section>
			</div>
		</div>
	</div>

		<!-- One -->
		<!-- 	<section id="one" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item left">
						<div>
							<h3>Magna ultricies</h3>
							<p>Morbi in sem quis dui plalorem ipsum<br /> euismod in, pharetra sed ultricies.</p>
						</div>
						<div>
							<h3>Ipsum adipiscing lorem</h3>
							<p>Tristique yonve cursus jam nulla quam<br /> loreipsu gravida adipiscing lorem</p>
						</div>
					</div>
					<div class="flex-item image fit round">
						<img src="images/pic01.jpg" alt="" />
					</div>
					<div class="flex-item right">
						<div>
							<h3>Tempus nullam</h3>
							<p>Sed adipiscing ornare risus. Morbi estes<br /> blandit sit et amet, sagittis magna.</p>
						</div>
						<div>
							<h3>Suscipit nibh dolore</h3>
							<p>Pellentesque egestas sem. Suspendisse<br /> modo ullamcorper feugiat lorem.</p>
						</div>
					</div>
				</div>
			</section>  -->

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<!-- <ul class="actions fit">
						<li><a href="www.texasaflcio.org" class="button fit">Donate to AFL-CIO</a></li>
					</ul> -->
					<figure>
					    <blockquote>
					      The role of a labor union is to ensure that the balance is not tipped in favor of the employer <br>when employees do not receive wages and benefits commensurate with their contribution.
					    </blockquote>
					    <footer>
					        <cite class="author">Bill Burrus</cite>
					        <cite class="company">APWU</cite>
					    </footer>
					</figure>
				</div>
			</section>

		<!-- Three -->
			<section id="main-boxes" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item box">
						<div class="image fit">
							<img src="images/pic02.jpg" alt="" />
						</div>
						<div class="content text-center">
							<h3>Stay Involved</h3>
							<p>Text Solidarity to 235346</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<img src="images/pic03.jpg" alt="" />
						</div>
						<div class="content text-center">
							<h3>Vote</h3>
							<p><a href = "https://voterregistration.txdemocrats.org/">Register here</a></p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<img src="images/pic04.jpg" alt="" />
						</div>
						<div class="content text-center">
							<h3>Donate</h3>
							<p><a href = "texasaflcio.org/donate">To the the Texas Worker's Relief Fund</a></p>
						</div>
					</div>
				</div>
			</section>

{% endblock content %}			


{% block scripts %}
<script>

		var error = {{ error }}
		$(document).ready(function() {
			if (error) {
				
				$('#errormessage').text('Oops! That doesn\'t seem to have returned an address. Please try again. ')



			};


			 

		});

</script>
{% endblock scripts %}