{% extends 'base.html' %}
{% load staticfiles %}	

{% block css %}

<style>
	.darkbox:hover p, .darkbox:hover h3 {
		color:#001885!important;
	}

.endorse {

	border: 2px solid green!important;
}

.endorse img.candidate {
	border: 1px solid green!important;
}

.endorse span {
	color: green;
	line-height: 1.2;
}

.endorse .endorseicon {
	display: inline-block;
	height:40px;
	width: 40px;
	background-image: url('/static/img/site_img/thumbsup.png');
	background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
}

.not-endorse {
	border: 2px solid #ff0004!important;
}

.not-endorse img.candidate {
	border: 1px solid #ff0004!important;
}

.not-endorse span {
	color: red;
	line-height: 1.2;
}

.not-endorse .endorseicon {
	display: inline-block;
	height:40px;
	width: 40px;
	background-image: url('/static/img/site_img/thumbsdown.png');
	background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
}

.row {
	margin-top: 2em;
}





.showlegtop {
	/*max-height: 300px;*/
}

.hidden {
	display:none;
}



#showlegtop {

	background-image: url(/static/img/site_img/bluecollarhands.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
	padding: 0;

}


#showlegtop p {
	color:white;
}

.trasparent-cover {
	width: 100%;
	height:100%;
	background: rgba(255, 0, 4,.6);
	padding: 3em 0 4em 0;
}



</style>



{% endblock css %}
{% block content %}


<!-- This was a welcome mat to gather email. Not put into header form by request. -->

	<div id = 'welcomemat' class = 'hidden'>
				<h2 class = 'headertext'>Thanks for being an engaged citizen.</h2><h3>Sign up to get election updates from the AFL-CIO.</h3>


			<form id  ='welcomematform' action = '#'>
				{% csrf_token %}
					<div class="row uniform">
						<div class="12u$">
							<input type="email" name="email" id="email" value="" placeholder="Email" />
						</div>
							<div class="12u$">
							<input type="text" name="phone" id="phone" value="" placeholder="Cell #" />
						</div>
					
						<div class="12u$">
							<ul class="actions form-buttons">
								<li><input type="button" value="Sign Up" id = 'submit' /></li>
								<li><input type="reset" value="No Thanks" id= "closeForm" class = "alt" /></li>
							</ul>
						</div>
					</div>
				</form>

		</div>


		<!-- SIDE BY SIDE ROWS -->



			<section class="wrapper style1 special " id = 'showlegtop'>
				<div class = 'trasparent-cover'>
					<div class="row inner text-center" >
						<div class = "col-md-12 col-xs-12 vertical-center">
							<h1>Your Elected Officials</h1>
							<p>Texans are free to make their own voting decisions. Our candidate endorsements are based on whether candidates support making working people's lives better. In order for Texans to live long, healthy, and prosperous lives, we focus on issues such as better pay, benefits, and safer workplaces.<br /><br />We are stronger <span style = 'font-weight:bold'>together</span>. We are <span style = 'font-weight:bold'>union.</span></p>
						</div>
					</div>
				</div>
			</section>




			<section class="wrapper">
				<div class="inner text-center section-headline">
					<h4>Our endorsements are based on objective standards, such as politicians' record votes and candidate questionnaires. You should vote for legislators and candidates who support you.</h4>
					<div class = 'row'>
						<div class="col-md-3 col-xs-12">	
						{% if ltgov.endorse %}
						<div class="flex-item box text-center endorse">
						{% elif not ltgov.endorse %}
						<div class="flex-item box text-center not-endorse">
						{% elif ltgov.endorse == Null %}
						<div class="flex-item box text-center null-endorse">
						{% endif %}
							<h2>Lt. Governor</h2>
							<img class = 'candidate' src = '/static/img/statewide/{{ltgov.photolink}}'>
								<div class="content">
									<h3> Candidate <br /> {{ltgov.firstname}} {{ltgov.lastname}} <br> Statewide </h3>
									<!-- <h3>AFL-CIO Score</h3> -->
									<h1><span style = 'font-size: 30px'>{% if houserep.endorse %}
									<span style= "color:green;"><div class = 'endorseicon'></div> <br />Labor's Choice</span>
									{% elif not houserep.endorse %}
									<span style= "color:red;"><div class = 'endorseicon'></div> <br /><br /></span>
									{% elif houserep.endorse == Null %}
									<span style= "color:grey;"><br /><br /></span>
									{% endif %}</span></h1>
									<!-- <a href="votes/{{houserep.id}}" class="button alt small">See their votes</a> -->
								</div>
							</div>
						</div>	

					<div class="col-md-3 col-xs-12">	
						{% if congrep.endorse %}
						<div class="flex-item box text-center endorse">
						{% elif not congrep.endorse %}
						<div class="flex-item box text-center not-endorse">
						{% elif congrep.endorse == Null %}
						<div class="flex-item box text-center null-endorse">
						{% endif %}
							<h2>U.S. House</h2>
							<img class = 'candidate' src = '/static/img/ushousemember/{{congrep.photolink}}'>
								<div class="content">
									<h3> Representative <br /> {{congrep.firstname}} {{congrep.lastname}} <br> District {{cd.district}} </h3>
									<!-- <h3>AFL-CIO Score</h3> -->
									<h1><span style = 'font-size: 30px'>
										{% if congrep.endorse %}
									<span style= "color:green;"><div class = 'endorseicon'></div><br />Labor's Choice
									{% elif not congrep.endorse %}
									<span style= "color:red;"><div class = 'endorseicon'></div><br /><br /></span>
									{% else %}
									<span style= "color:grey;"><br /><br /></span>
									{% endif %}</span></h1>
									<!-- <a href="votes/{{senrep.id}}" class="button alt small">See their votes</a> -->
								</div>
							</div>
						</div>	
						<div class="col-md-3 col-xs-12">	
						{% if senrep.endorse %}
							<div class="flex-item box text-center endorse">
							{% elif not senrep.endorse %}
							<div class="flex-item box text-center not-endorse">
							{% elif senrep.endorse == Null %}
							<div class="flex-item box text-center null-endorse">
							{% endif %}
							<h2>State Senate</h2>
							<img class = 'candidate' src = '/static/img/senatemember/{{senrep.photolink}}'>
								<div class="content">
									<h3> Senator <br /> {{senrep.firstname}} {{senrep.lastname}} <br> District {{sd.district}} </h3>
									<!-- <h3>AFL-CIO Score</h3> -->
									<h1><span style = 'font-size: 30px'>
										{% if senrep.endorse %}
									<span style= "color:green;"><div class = 'endorseicon'></div> <br />Labor's Choice</span>
									{% elif not senrep.endorse %}
									<span style= "color:red;"><div class = 'endorseicon'></div> <br /><br /></span>
									{% else %}
									<span style= "color:grey;"><br /><br /></span>
									{% endif %}</span></h1>
									<!-- <a href="votes/{{senrep.id}}" class="button alt small">See their votes</a> -->
								</div>
							</div>
						</div>	
						<div class="col-md-3 col-xs-12">	
						{% if houserep.endorse %}
						<div class="flex-item box text-center endorse">
						{% elif not houserep.endorse %}
						<div class="flex-item box text-center not-endorse">
						{% elif houserep.endorse == Null %}
						<div class="flex-item box text-center null-endorse">
						{% endif %}
							<h2>State House</h2>
							<img class = 'candidate' src = '/static/img/housemember/{{houserep.photolink}}'>
								<div class="content">
									<h3> Representative <br /> {{houserep.firstname}} {{houserep.lastname}} <br> District {{hd.district}} </h3>
									<!-- <h3>AFL-CIO Score</h3> -->
									<h1><span style = 'font-size: 30px'>{% if houserep.endorse %}
									<span style= "color:green;"><div class = 'endorseicon'></div><br /> Labor's Choice</span>
									{% elif not houserep.endorse %}
									<span style= "color:red;"><div class = 'endorseicon'></div> <br /><br /></span>
									{% elif houserep.endorse == Null %}
									<span style= "color:grey;"><br /><br /></span>
									{% endif %}</span></h1>
									<!-- <a href="votes/{{houserep.id}}" class="button alt small">See their votes</a> -->
								</div>
							</div>
						</div>	
					</div>
				</div>
			</section>

			<section id="main-boxes" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item box darkbox">
						<div class="image fit">
							<img src="/static/img/site_img/fistsup.jpg" alt="">
						</div>
						<div class="content text-center">
							<h3>Stay Involved</h3>
							<p>Text TXALFCIO to 235346</p>
						</div>
					</div>
					<div class="flex-item box darkbox">
						<div class="image fit">
							<img src="/static/img/site_img/pollingbooth.jpg" alt="">
						</div>
						<div class="content text-center">
							<h3>Vote</h3>
							<p><a href = "https://www.votetexas.gov/register-to-vote/">Register here</a></p>
						</div>
					</div>
					<div class="flex-item box darkbox">
						<div class="image fit">
							<img src="/static/img/site_img/cope.jpg" alt="">
						</div>
						<div class="content text-center">
							<h3>Donate</h3>
							<p><a href = "http://www.texasaflcio.org/texas-aflcio-cope/">To the political action fund</a></p>
						</div>
					</div>
				</div>
			</section>

		



<!-- 		

				<section class="wrapper style1 special">
				<div class="inner text-center">
					<h1>US House</h1>
				</div>
			</section>

				<section class="wrapper">
				<div class="inner text-center section-headline">
					<h2> Representative {{congrep.firstname}} {{congrep.lastname}} <br> District {{cd.district}} </h2>
					<div class = 'row'>
						<div class = 'col-xs-6 col-md-3 col-md-offset-3'>
							<img class = 'candidate' src = '/static/img/ushousemember/{{congrep.photolink}}'>
						</div>
						<div class = 'col-xs-6 col-md-3'>
							<div class="flex-item box text-center">
								<div class="content">
									<h3>AFL-CIO Score</h3>
									<h1><span style = 'font-size: 40px'>{{houserep.grade}}</span></h1>
									<a href="votes/{{senrep.id}}" class="button alt small">See their votes</a>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</section>
 -->

	

{% endblock content %}		



{% block scripts %}	

<script>


	if ('{{contactgiven}}' == 'False') {
		setTimeout(function(){
		console.log('execution!');
		$('#welcomemat').toggleClass('hidden');
			}, 7000);
	}




	$('#closeForm').on('click', function(){
		$('#welcomemat').addClass('hidden');
	});


	$('#submit').on('click', function(){
		$('#welcomemat').toggleClass('hidden');
			$.ajax({
			  url: "/emailinputhandle",
			  data: {"name": $('#name').val() ,
					"email": $('#email').val(),
					"phone": $('#phone').val()}
			}).done(function() {
			  $( this ).addClass( "done" );
			});
				});

</script>
{% endblock scripts%}