{% extends 'base.html' %}
{% load staticfiles %}	

{% block content %}

		<!-- senate -->
				<section class="wrapper style1 special">
				<div class="inner text-center">
					<h1>How {{pol.firstname}} {{pol.lastname}} voted on labor issues.</h1>
				</div>
			</section>


			<div class="inner text-center">
					<h4> </h4>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Bill</th>
									<th>Description</th>
									<th>Vote Labor?</th>
								</tr>
							</thead>
							<tbody>
							{% for vote in votes %}
								<tr>
									<td>{{vote.bill.billname}}</td>
									<td>{{vote.bill.description}}</td>
									{% if vote.unionvote == True %}
									<td style= "font-size:22px; color:green;">✔</td>
									{% elif vote.unionvote == False %}
									<td style= "font-size:22px; color:red;">✖</td>
									{% elif vote.unionvote == Null %}
									<td style= "font-size:22px; color:grey;">◍</td>
									{% endif %}

								</tr>
							{% endfor %}
						</tbody>
							<tfoot>
									<tr>
										<td></td>
										<td colspan="2" style = 'text-align:right;'>✔ Voted with Labor Interests&emsp;✖ Voted against Labor Interests&emsp;◍ Abstained</td>
									</tr>
								</tfoot>
						</table>
					</div>
				</div>




{% endblock content %}		