{% extends 'base.html' %}
{% load staticfiles %}	

{% block content %}

		<!-- senate -->
				<section class="wrapper style1 special">
				<div class="inner text-center">
					<h1>Texas Senate</h1>
				</div>
			</section>

			<section class="wrapper">
				<div class="inner text-center section-headline">
					<h2>Senator {{senrep.firstname}} {{senrep.lastname}} <br> District {{sd.district}}, {{sd.city}} </h2>
					<div class = 'row'>
						<div class = 'col-md-3 col-md-offset-3'>
							<img class = 'candidate' src = '/static/img/senatemember/{{senrep.photolink}}'>
						</div>
						<div class = 'col-md-4'>
							<div class="flex-item box text-center">
								<div class="content">
									<h3>AFL-CIO Score</h3>
									<h1>{{senrep.score}}</h1>
									<a href="votes/{{houserep.id}}" class="button alt small">See their votes</a>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</section>

				<section class="wrapper style1 special">
				<div class="inner text-center">
					<h1>Texas House of Representatives</h1>
				</div>
			</section>

				<section class="wrapper">
				<div class="inner text-center section-headline">
					<h2>Representative {{houserep.firstname}} {{houserep.lastname}} <br> District {{hd.district}}, {{hd.city}} </h2>
					<div class = 'row'>
						<div class = 'col-md-3 col-md-offset-3'>
							<img class = 'candidate' src = '/static/img/housemember/{{houserep.photolink}}'>
						</div>
						<div class = 'col-md-4'>
							<div class="flex-item box text-center">
								<div class="content">
									<h3>AFL-CIO Score</h3>
									<h1>{{houserep.score}}</h1>  <!-- STILL SET TO SENATE -->
									<a href="votes/{{houserep.id}}" class="button alt small">See their votes</a>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</section>


{% endblock content %}			