{% extends 'base.html' %}	

{% block content %}

	

		<!-- Two -->
			<section id="error" class="wrapper style1 special">
				<div class="inner">
					<h2>Oops! Something Seems to have gone wrong.</h2>
					<ul class="actions fit">
						<li><a href="" class="button fit">Take Me Home</a></li>
					</ul>
					<figure>
					    <blockquote>
					      Our labor unions are not narrow, self-seeking groups. They have raised wages, shortened hours, and provided supplemental benefits. Through collective bargaining and grievance procedures, they have brought justice and democracy to the shop floor.
					    </blockquote>
					    <footer>
					        <cite class="author">John F. Kennedy</cite>
					    </footer>
					</figure>
				</div>
			</section>

		

{% endblock content %}			
